*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {text-decoration: none;}

.container {
  margin-left: 15px;
  width: 1350px; 
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.logo {
  font-family: 'Exo 2', sans-serif;
}

.menu {
    background-color:  #c06bf9;
  box-shadow: 0 1px 10px #f96ba3;
  z-index: 3;
  font-size: 0;
  width:100%;
  top: 0;  
  position: fixed;
  transition: all .2s linear; 
}

.menu:hover {
  border-bottom: none;
  box-shadow: 0 1px 25px #e276cb;
  transition: all .2s linear;
}


.menu > ul > li {
  display: inline-block;
  font-size: 16px;
  padding: 1px 15px;
  position: relative;
}

.menu > ul > li > a {
  color: #fff;
    display: block;
    padding: 20px 0;
    box-shadow: 0 5px transparent;
    border-bottom: 3px solid transparent;
    transition: all .2s ease;
} 

.menu > ul > .logo:hover > a {
  color: #7608a1;
    text-shadow: 0px 0px 20px #7608a1;
    border-bottom: 3px solid transparent;
}

.menu > ul > .menu-lateral:hover > a {
  color: #7608a1;
    text-shadow: 0px 0px 20px #7608a1;
}

.menu > ul > li:hover > .item-menu {
  color: #4dbce9; 
    text-shadow: 0px 0px 20px #4de4e9;
    border-bottom: 3px solid #4de4e9b9;
    
}

.home {
  margin-left: 80px;
}

.dropdown, .sobre-nos, .galeria {
  margin-left: 30px;
}


.mini-menu {
  background: rgba(0,0,0,1);
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
    position: absolute;
    left: -30px;
    width: 150px;
    padding: 10px;
    text-align: center;

    border-bottom: 3px solid #4de4e930;
    border-right: 2px solid #4de4e930;
    border-left: 2px solid #4de4e930;
    transition: all .3s ease;
}

.mini-menu .container {
    display:inline;
    padding: 10px;
}

.mini-menu .item {
  flex-grow: 1;
    margin: 0 10px;
  font-size: medium;
}

.mini-menu a {
  border-bottom: 1px solid rgb(78, 78, 78);
  color: #ffffff;
  display:inline;
  padding: 1px 0;
}

.mini-menu a:hover {color: #f5ffff;}

.dropdown {
  position:relative;
  text-indent: 0%;
}

.dropdown:hover .mini-menu {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}